
  html {
    font-size: 10px;
  }
  
  body {
    font-family: Lobster, Arial, sans-serif, monospace;
    font-size: 1.6rem;
    line-height: 1.5;
    text-align: center;
    background-color: #EEEEEE;
    margin: 0;
  }

  header {
      border-radius: 5%;
      color: #000;
  }
  
  h1 {
    font-size: 4rem;
    margin-bottom: 0;
  }
  
  @media (max-width: 460px) {
    h1 {
      font-size: 3.5rem;
      line-height: 1;
    }
  }
  
  h2 {
    font-size: 3rem;
    margin-top: 0rem;
  }
   
  #main {
    margin: auto;
    padding: 15px;
    border-radius: 10px;
  }
  
  @media (max-width: 460px) {
    #main {
      margin: 0;
    }
  }
  
  img {
    max-width: 100%;
    display: block;
    height: auto;
    margin: 0 auto;
    background-color: #FFFFFF;
  }
  
  #img-div {
    padding: 10px;
    margin: 0 auto;
  }
  
  #img-caption {
    margin: 15px 0 5px 0;
    font-size: 1.2rem;
  }
  
  @media (max-width: 460px) {
    #img-caption {
      font-size: 1.4rem;
    }
  }
  
  #info-heading {
    margin: 25px 0;
    text-align: center;
    border-width: 2em;
    border-color: #9B9B9B;
    border-radius: 25%;
    border-style: solid;
  }

  dl {
    max-width: 500px;
    margin: 0 auto 50px auto;
    text-align: justify;
    line-height: 1.5;
  }
  
  ul {
    max-width: auto;
    margin: 0 auto 25px auto;
    text-align: left;
    line-height: 1;
  }
  
  dt, dd, li {
    margin: 10px 0;
  }
  
  blockquote {
    font-style: italic;
    max-width: 500px;
    margin: 0 auto 20px auto;
    text-align: left;
    border: 2em;
    border-color: #3D7E9A;
    border-radius: 10px;
  }

  cite {
    font-style: italic;
    text-align: end;
  }
  